#banner {
  background-image: url("/bkg1.png");
  background-size: cover;
}

a#main-header {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

a#main-header:hover {
  color: rgb(218, 35, 35);
}

p#sub-header {
  color: rgb(255, 255, 255);
}

.top-buffer { 
  margin-top:20px;
}

.table-row {
  cursor: pointer;
}

tr.collapse.in {
  display:table-row;
}

.team-name {
  font-weight: bold
}

.posting.body {
  font-size: 1.2em;
}

.game_info.state {
  font-weight: bold;
}

.project.detail {
  color: grey;
}

.game_info.title {
  font-weight: bold
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

.title {
  font-weight: bolder;
  font-size: 40px;
}

.top-buffer { 
  margin-top:20px; 
}

.text-left {
  margin-left: 10px;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.text-right {
  margin-right: 10px;
}

.blank-row {
  height: 30px;
}

.query-bar {
  background-color: #EEEEEE;
  padding: 5px 5px 5px 5px;
}

.live-bar {
  /*
  border:0.5px solid;
  border-color: gray;
  border-width: thin;
  */
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.live-button {
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 100px;
}

.live-button:hover {background-color: #3e8e41}

.live-button:active {
  transform: translateY(4px);
}

.live_span {
  font-family: "Courier New", Courier, monospace;
  color: white;
}



.btn {
  background-color: rgb(180, 174, 174);
}

footer {
  padding: 0.5in;
  font-size:12px;
  color:rgb(100, 100, 100);
}

.hidden {
  display: none; 
}
